*::selection {
    background-color: #b0803c;
}

body[theme="black"] {
    background-color: black;
}




body #loader {
    /* Ensure no global styles override the loader styles */
    background: -webkit-radial-gradient(#222922, #000500);
  background: radial-gradient(#222922, #000500);
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  overflow: hidden;
  padding: 30px 0 0 30px;
  text-align: center;
}



#loader html,
#loader body {
    height: 100%;
    margin: 0; /* Reset margin */
}










body {
    transition: background-color ease-out .5s;
}

@font-face {
    font-family: myfont;
    src: url(fonts/NeueMachina-Light.otf);
}

@font-face {
    font-family: myfont2;
    src: url(fonts/Satoshi-Regular.ttf);
}

body[theme="black"] .section {
    color: white;
    border-color: white;
}

body[theme="salmon"] {
    background-color: #EF9D71;
    border-color: rgb(54, 35, 33);
}


body[theme="salmon"] .section {
    color: rgb(63, 40, 39);
}

body[theme="cyan"] {
    background-color: #AEDEE0;
}

body[theme="cyan"] .section {
    color: #1f2627;
    border-color: rgb(0, 0, 0);
}

body[theme="white"] {
    background-color: white;
}

body[theme="white"] .section {
    color: #000000;
    border-color: black;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}

.videoscreen {
    clip-path: circle(var(--clip, 100%) at 50% 50%);
}



.glow-text {
    text-shadow: 0 0 10px white, 0 0 1px white;
}

.fade-text {
    transition: opacity 0.3s ease;
}

.fade-text.hidden {
    opacity: 0;
}

.transition-icon {
    transition: opacity 0.3s ease;
}

.transition-icon.hidden-icon {
    opacity: 0;
}


/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Set the background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* Set the color of the scrollbar thumb */
    border-radius: 4px;
    /* Add rounded corners to the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Change the color on hover */
}

/* For Firefox */
html {
    scrollbar-width: thin;
    /* Set the scrollbar width */
    scrollbar-color: #888 #f1f1f1;
    /* Set the thumb and track colors */
}



.desktop-content {
    display: block;
}

/* Styles for mobile-only message */
.mobile-message {
    display: none;
}

/* Media query for devices with a max-width of 768px (mobile) */
@media only screen and (max-width: 768px) {
    .desktop-content {
        display: none;
        /* Hide all desktop content */
    }

    .mobile-message {
        display: flex;
        /* Show the mobile-only message */
        justify-content: center;
        align-items: center;
        text-align: center;

        padding: 20px;
        height: 100vh;
        /* Full height of the viewport */
        width: 100vw;
        /* Full width of the viewport */
        position: fixed;
        /* Stay fixed in the viewport */
        top: 0;
        left: 0;
        z-index: 9999;
        color: white;
        font-family: myfont2;

    }


}





/* Ensure that the header stays on top */
#header {

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=1);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;


    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;

    padding: 10px;

    color: hsla(0, 0%, 0%, 0);
}



#header #header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-content .logo {
    padding: 8px 32px;
    font-size: 16px;
    font-family: myfont3;
    font-weight: 900;
    cursor: pointer;

}

#btns {
    font-family: myfont2;
    font-weight: 600;
    font-size: 15px;
    padding: 8px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#btns .extra {
    align-self: center;
    padding: 3px 8px;
    background-color: rgb(176, 128, 60);
    border-radius: 6px;
}

@font-face {
    font-family: myfont3;
    src: url(./fonts/NeueMachina-Ultrabold.otf);
}

#header {
    transition: background-color 0.5s ease, opacity 0.5s ease;
}

#header-content {
    transition: color 0.5s ease;
}


#firstpart .sec4 button {
    border-radius: 5px;
    padding: 3px 10px;
    text-align: left;
}






.resptxt {
    font-size: 12px;
    line-height: 1.6;
    margin: 0;
    padding: 10px;
    text-align: left;

}

.resptxt span {
    display: block;
    font-weight: bold;
    color: #b6ac4b;
    margin-top: 10px;
    text-align: left;
}

#show img {
    border-radius: 15px;
    width: 80%;
}

#show h1 {
    font-size: 35px;
    margin-top: 10px;
    font-family: myfont3;
    font-weight: 900;
}

#show p {
    font-family: myfont2;
    font-weight: 500;
    width: 80%;
}

#firstpart {
    justify-content: space-around !important;
    padding-top: 100px !important;
    color: white !important;
    font-family: myfont;
    font-weight: 600;
    font-size: 25px;
    padding-left: 34px;
    padding-right: 34px;
    gap: -17px;

}

#firstpart div {
    display: flex;
    flex-direction: column;
    gap: 13px;
    color: rgb(37, 131, 96);
}


.middlepart {
    transition: top 0.3s ease-out;
    /* Smooth transition for the top position */
}



/* ///////////////////////////// */


.circle {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-30%);
    width: 90px;
    height: 90px;
    cursor: pointer;
    z-index: 332221;
    

    &:before {
        content: "";
        position: relative;
        display: block;
        width: 250%;
        height: 250%;
        box-sizing: border-box;
        margin-left: -75%;
        margin-top: -75%;
        border-radius: 45px;
        background-color: #a08059;
        animation: pulse 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }

    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #8D6635;
        border-radius: 50px;
        animation: circle 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.33);
    }

    80%,
    100% {
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}




/* ////////hovering effects/////// */

#founderbtn:hover{
    background-color: #5c4320;

}

#btn3:hover{
    background-color: #274849;
    cursor: pointer;
    color: white;
}

#btn4:hover{
    background-color: #5c4320
}

.instaBtn{
    background-color: #1e5943;
    color: white;
    position: absolute;
    padding: 2px 10px;
    border-radius: 50px;
}

.ima{
    text-align: right;
}

.hili:hover{
    background-color: #7c6341;
}

.header2{
    opacity: 1 !important;
    transition: none !important;
    
}







/* ///////////////////// */
@property --blink-opacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

/* #fallback @keyframes blink-animation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}*/

@keyframes blink-animation {
  0%,
  100% {
    opacity: var(--blink-opacity, 1);
  }
  50% {
    opacity: 0;
  }
}
/*houdini*/

/*base*/
:root {
  font-family: Inter, sans-serif;

  --stripe-color: #fff;
  --bg: var(--stripe-color);
  --maincolor: var(--bg);
}


/*custom*/

@keyframes smoothBg {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}

.wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

.hs{
  letter-spacing: 1ric;
}

.hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  --stripes: repeating-linear-gradient(
    100deg,
    var(--stripe-color) 0%,
    var(--stripe-color) 7%,
    transparent 10%,
    transparent 12%,
    var(--stripe-color) 16%
  );

  --rainbow: repeating-linear-gradient(
    100deg,
    #60a5fa 10%,
    #e879f9 15%,
    #60a5fa 20%,
    #5eead4 25%,
    #60a5fa 30%
  );
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;

  filter: blur(10px) invert(100%);

  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: smoothBg 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
  }
}

:has(:checked) {
  --stripe-color: #000;
}
:has(:checked) .hero,
:has(:checked) .hero::after {
  filter: blur(10px) opacity(50%) saturate(200%);
}

.contenty {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  flex-flow: column;
  gap: 4.5%;
  text-align: center;
  mix-blend-mode: difference;
  -webbkit-mix-blend-mode: difference;
  filter: invert(1);
}

.h1--scalingSize {
  font-size: calc(1rem - -5vw);
  position: relative;
}

#switch {
  appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  cursor: pointer;
}

[for="switch"] {
  cursor: pointer;
  
  padding: 0.5rem;
}

[for="switch"]:where(:hover, :active, :focus-within) {
  /*transform: scale(1.2);
  font-weight: 900;*/
 
  
}

@keyframes animSwitch {
  50% {
    
  }
}

/*icon houdini*/
.icon {
  width: 1lh;
  height: 1lh;
  aspect-ratio: 1/1;
  padding: 0.25em 0.35rem;
  border-radius: calc(1px / 0);
  border: 1px dashed;
  --blink-opacity: 1;
  cursor: pointer;
}

/*challenge*/
.h1--scalingSize::before {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  
  background: white;
  text-shadow: 0 0 1px #ffffff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: white;
  -webkit-mask: linear-gradient(#000 0 0) luminance;
  mask: linear-gradient(#000 0 0) luminance, alpha;
  backdrop-filter: blur(19px) brightness(12.5);
  -webkit-text-stroke: 1px white;
  display: flex;
  margin: auto;
  z-index: 1;
  pointer-events: none;
}



/* ////////////////////////////// */
#testbutton {
    width: 200px;
    height: 50px;
    border-radius: 180px;
    position: relative;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    cursor: pointer;
    line-height: 0; /* Ensure no extra line height affecting positioning */
}

#testbutton::before {
    content: "";
    z-index: 1;
    position: absolute;
    display: block;
    width: 80%;
    height: 70%;
    top: 15%;
    left: 10%;
    transition: 0.3s opacity ease-in-out, 0.3s filter ease-in-out;
    filter: blur(15px);
    opacity: 0;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

#testbutton:hover::before {
    opacity: 1;
    filter: blur(25px);
}

#testbutton::after {
    content: attr(data-content);
    text-align: center;
    line-height: 40px; /* Adjusted to match button height for vertical centering */
    font-size: 18px;
    color: rgba(235, 235, 235, 1);
    font-weight: bold;
    z-index: 5;
    position: absolute;
    display: block;
    border-radius: 180px;
    width: 92%;
    height: 80%;
    top: 10%;
    left: 4%;
    background-color: rgb(19, 20, 22);
}







  /* ///// */

  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.fade-out {
    animation: fadeOut 1s forwards;
}
.fade-in {
    animation: fadeIn 1s forwards;
}


.imii img{
    width: 20%;
    padding: 5px;
}


.containeri2 {
    padding-top: 3vh;
    width: 100%;
    margin: auto;
    columns: 3;
    column-gap: 20px;
    padding-bottom: 50px;
   
    
  }
  .containeri2 .box {
    width: 100%;
    margin: 15px;
    break-inside: avoid;
    border-radius: 15px;
    margin-bottom: 30px;
  }
  .containeri2 .box img {
    max-width: 100%;
    min-width: 100%;
    border-radius: 10px;
  }









.containeri {
    padding-top: 3vh;
    width: 100%;
    margin: auto;
    columns: 3;
    column-gap: 20px;
    padding-bottom: 50px;
   
    
  }
  .containeri .box {
    width: 100%;
    margin: 15px;
    break-inside: avoid;
    border-radius: 15px;
    margin-bottom: 30px;
  }
  .containeri .box img {
    max-width: 100%;
    min-width: 100%;
    border-radius: 10px;
  }
  
  img:hover {
    opacity: 0.95;
  }
  
  .caption {
    display: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
  }



